In [59]:
import sys
sys.path.append("../")
from Functions.csv_files.stock import Stock

In [60]:
apple = Stock('AAPL.US', filepath="../Functions/csv_files/")

In [61]:
apple.retrieve_data()

,date,close,volume,3 Month Treasury Yield,WTI Crude Oil Prices,7-day volatility,7-day EWM,7-rsi,7-day slope,14-day volatility,14-day EWM,14-rsi,14-day slope
0,1980-12-12,28.7392,469033600,16.55,NaN,NaN,28.739200,NaN,NaN,NaN,28.739200,NaN,NaN
1,1980-12-15,27.2608,175884800,16.77,NaN,NaN,28.369600,NaN,NaN,NaN,28.542080,NaN,NaN
2,1980-12-16,25.2448,105728000,16.70,NaN,NaN,27.588400,NaN,NaN,NaN,28.102443,NaN,NaN
3,1980-12-17,25.8720,86441600,16.47,NaN,NaN,27.159300,NaN,NaN,NaN,27.805050,NaN,NaN
4,1980-12-18,26.6336,73449600,16.20,NaN,NaN,27.027875,NaN,NaN,NaN,27.648857,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10598,2022-12-23,131.8600,63814900,4.23,79.57,29.533940,134.509237,133.602857,-0.550000,82.490509,137.503068,138.360714,-1.040593
10599,2022-12-27,130.0300,69007800,4.35,79.45,28.367354,133.389428,132.678571,-0.518929,86.712790,136.506659,137.440714,-1.128637
10600,2022-12-28,126.0400,85438400,4.35,78.89,45.654730,131.552071,131.468571,-0.968571,97.436570,135.111104,136.376429,-1.339011
10601,2022-12-29,129.6100,75703700,4.34,78.43,46.363788,131.066553,131.074286,-1.038929,96.866017,134.377624,135.445000,-1.325516
10602,2022-12-30,129.9300,76960600,4.30,80.16,45.910718,130.782415,130.735714,-0.986429,94.294409,133.784607,134.571429,-1.261714

In [90]:
def split(dataframe, window):
  X = []
  y = []
  dataframe = dataframe.dropna()
  dataframe = dataframe.drop(columns=['date']).reset_index(drop=True)
  L = len(dataframe)
  
  for i in range(0, L):
    if i > (L - window - 1):
      break
    X.append(dataframe[i:(i + window)].drop(columns=['close']))
    y.append(dataframe['close'][i + window])
  
  return X, y

In [91]:
df = apple.data

In [92]:
x, y = split(df, 7)

In [94]:
x[0]

,volume,3 Month Treasury Yield,WTI Crude Oil Prices,7-day volatility,7-day EWM,7-rsi,7-day slope,14-day volatility,14-day EWM,14-rsi,14-day slope
0,117420800,7.10,25.56,4.047650,22.025018,22.0352,0.0736,13.973250,21.622824,21.6336,0.154732
1,242166400,7.07,26,4.347447,22.113164,22.1056,0.0888,12.109805,21.723461,21.8032,0.122240
2,185046400,7.06,26.53,3.597136,22.145673,22.1760,0.0528,8.980348,21.792759,21.9632,0.075471
3,470534400,7.03,25.85,4.974011,22.360455,22.3552,0.0808,8.516370,21.954365,22.1152,0.069415
4,607600000,7.17,25.87,5.866063,22.487941,22.4256,0.1392,5.822436,22.076503,22.2752,0.042043
5,447238400,7.18,26.03,5.813480,22.521956,22.4800,0.1344,6.003206,22.149502,22.3024,0.050954
6,153238400,7.21,25.65,4.874973,22.581067,22.5888,0.0952,6.268165,22.230689,22.3216,0.070154